ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 40px;
	border-bottom: 2px solid #5de3cf;
	width: 100%;
	font-size: 12px;
	margin-top: 10px;
}

ul.tabs li {
	float: left;
	text-align: center;
	cursor: pointer;
	width: 33%;
	height: 40px;
	border-left: none;
	overflow: hidden;
	position: relative;
	line-height: 45px;
	color: #666;
	font-size: 1.5em;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	/* -webkit-user-select: none; // 선택 기능 자체를 제거 */
}

ul.tabs li.active {
	background: url("../images/tab_on.png") no-repeat center;
  background-size: cover;
  color: #FFF;
}

.tab_container {
	border: none;
	clear: both;
	float: left;
	width: 100%;
	background: #FFFFFF;
}

.tab_content {
	padding: 0 22px 15px 22px;
	font-size: 12px;
	display: none;
}

.tab_container .tab_content ul {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.tab_container .tab_content ul li {
	padding: 5px;
	list-style: none
}

.h-school { 
	-webkit-user-select: none !important;
	color: #CCC !important;
}

#container {
	width: 100%;
}
#info-book-e {
	padding-top: 12%;
}
div[id^="info-book"] { 
	text-align: center;
	padding: 0px 0px 7px 0px;
}

div[id^="info-book"] > img {
  vertical-align: middle;
  width: 100%;
}

.grade-book, .kakao-book, .hint-book, .test-book {
	width: 24%;
	display: inline-block;
	padding: 0px 6px 10px 6px;
}

.hint-book, .kakao-book, .test-book {
	width: 20%;
  vertical-align: top;
}

.kakao-book, .test-book {
	width: 18.3%;
}

.grade-book img, .hint-book img, .kakao-book img, .test-book img {
	width: 100%;
	vertical-align: middle;
	margin-bottom: 3px;
}

.hint-book img {
  margin-bottom: 30px;	
}

.overflow-h-scroll {
	white-space:nowrap;
	overflow: auto;
}
.grade-book > div, .kakao-book > div, .test-book > div {
	font-size: 1.5em;
	margin-top: 5px;
}
.basic, .prime, .grade-text, .test, .kakao {
	font-weight: bold;
}
.basic, .test, .kakao {
	color: #F60;
}
.prime {
	color: #09F;
}
.grade-text {
	color: #666;
}
.grade-large-text {
	font-size: 1.8em;
	font-weight: bold;
	margin: 4px 4px 4px 6px;
	color: #0CC;
}

.digits {
  position: absolute;	
  top: 45px;
  left: 65px;
}
div[class^=digit-cnt-] { width: 25px; height: 36px; float: left; margin-right: 3px; }

.more > a { position: absolute; top: 177px; left: 30px; background-color: #740b2c; color: #fff; padding: 7px 10px; font-weight: bold; text-decoration: none; font-size: 0.92em; }
.more-2 > a { top: 187px; left: 20px; }
.more-3 > a { left: 25px; }
.cntSeparator { display: none; width: 10px; }
.digit-cnt-2, .digit-cnt-5 { margin-right: 11px !important; }
.digit-cnt-2 { margin-left: 28px; }
.digit-cnt-1 { display: none; }
.more > a.bg-color-1 { background-color: #ff5b51;}
#tab1 > div, #tab2 > div { margin-bottom: 15px; }
